[submodule ".make"]
	path = .make
	url = https://gitlab.com/ska-telescope/sdi/ska-cicd-makefile.git
[submodule "resources/ska-pst-testutils"]
	path = resources/ska-pst-testutils
	url = https://gitlab.com/ska-telescope/pst/ska-pst-testutils.git
